<%- include ('./includes/head.ejs') %>
<main>
    <h3>About</h3>
    <p>
        We are all about hosting different events. New in business but professional in conduct. Do not have any iota of second thought in reaching out to the newbies in town..
    </p>
</main>
<%- include ('./includes/end.ejs') %>