<%- include ('./includes/head.ejs') %>
<main>
    <h3>Contact</h3>
    <p>
        Right next door. We are just too cool to be located in an office. So hang on and just send us an email at
        customercare@eventzilla.com
    </p>
</main>
<%- include ('./includes/end.ejs') %>