<%- include ('./includes/head.ejs') %>
<main>
		<h3 class="heading-main">ABOUT US</h3>
		<div class="div-main">
		<p> For us, it's not just  about bringing you great events. It's about making a connection, which is why we sit down with the people, dreaming up places to explore, shows to see, concerts to enjoy. Try us!</p>
		</div>
</main>
<%- include ('./includes/end.ejs') %>