

<footer class="main-footer">
	<nav class="foot-header__nav">
		
		<ul class="footer-header__item-list">
			<li class="footer-header__item">
				&copy; EventZilla
			</li>
			<li class="footer-header__item">
				<a href="/about"> About</a>
			</li>
			<li class="footer-header__item">
				<a href="/contact"> Contact</a>
			</li>
		</ul>
           <div>
           
                <a href="#" class="fa fa-facebook"></a>
            
				<a href="#" class="fa fa-twitter"></a>
			</div>
	</nav>
</footer>
</div>
</body>
</html>